/* html */

p, br, ul, ol { display: block }
i { font-style: italic }
b { font-weight: bold }
a { color: blue }
table { display: table }
table > caption { display: table-caption }
tr { display: table-row }
td, th { display: table-cell }


/* Akoma Ntoso */

hcontainer, division, title, subtitle, part, subpart, chapter, section, subsection, paragraph, subparagraph,
	clause, subclause { display: block; margin-top: 14pt; margin-bottom: 14pt }

block, tocItem { display: block }






/* html */


*[style='display:none'] { display: none }
p[style='display:inline'] { display: inline }
*[style='text-align:center'] { text-align: center }
p[style='text-align:right'] { text-align: right }
*[style='text-decoration:line-through'] { text-decoration: line-through }
*[style='font-style:italic'] { font-style: italic }

block[name='Horizontal Rule'] { width: 40%; border-top: thin solid black; margin: 28pt auto }


/* front matter */

akomaNtoso { padding: 14pt 40pt 40pt 40pt; font-family: Times; font-size: 14pt }

meta { display: none }

coverPage p, preface p { margin-top: 14pt; margin-bottom: 14pt }

legislature, session { font-variant: small-caps }

legislature, session { font-size: medium }

docNumber { font-size: 37pt; font-weight: bold }
bill[name='concurrent resolution'] docNumber { letter-spacing: -3px }

bill docType { font-size: 30pt; font-weight: bold }
amendment > preface docType { text-transform: uppercase; font-size: 24pt; font-weight: bold; letter-spacing: -1px }

bill[name='enrolled'] > coverPage > p[class=number] { text-align: left }
bill[name='enrolled'] docNumber { font-weight: normal; font-size: 16pt }
bill[name='enrolled'] legislature { font-family: 'Goudy Text MT Std', 'Goudy Text'; font-variant: normal; font-size: 24pt }
bill[name='enrolled'] session { text-transform: uppercase; font-size: 12pt; font-weight: bold }
bill[name='enrolled'] p[class=date] { font-size: 10pt; font-weight: bold }
bill[name='enrolled'] docType { font-family: 'Goudy Text MT Std', 'Goudy Text'; font-variant: normal; font-size: 18pt }

coverPage > container[name='action'] { text-align: center }
coverPage > container[name='action'] event { font-size: 11pt }
docIntroducer, docProponent { font-variant: small-caps }
coverPage > container[name='action'] p[class='instruction'] { font-size: 10pt }
coverPage > container[name='action'] p[class='description'] { text-align: justify; margin-left: 2em; text-indent: -2em }

coverPage p[class='title'], preface p[class='title'] { text-align: justify; margin-left: 28pt; text-indent: -28pt }
coverPage date { font-variant: small-caps }

amendment > coverPage inline[name='chamber'] { font-size: 20pt; font-weight: bold; font-style: italic }

amendment > coverPage docDate { font-style: italic }

coverPage p[class='calendar'] { text-align: right; font-size: 24pt; font-weight: bold }
coverPage p[class='congress'] { position: absolute; }
bill coverPage relatedDocument { font-weight: bold }

bill coverPage inline[name='chamber'] { font-size: 15pt }

formula > p:first-child { text-align: justify; text-indent: 28pt }

coverPage p { text-align: center }
preface p { text-align: center }

amendment > preface > p[class=resolution] { text-align: justify; text-indent: 28pt }

/* body elements */

bill, amendment { display: block }
/* bill[name='enrolled'] { margin-left: 96pt; margin-right: 96pt } */

hcontainer, division, title, subtitle, part, chapter, section, subsection, paragraph, subparagraph, clause, subclause { display: block; margin-top: 14pt; margin-bottom: 14pt }

bill[name='enrolled'] hcontainer, bill[name='enrolled'] chapter, bill[name='enrolled'] section, bill[name='enrolled'] subsection, bill[name='enrolled'] paragraph, bill[name='enrolled'] subparagraph, bill[name='enrolled'] clause, bill[name='enrolled'] subclause { margin-top: 3pt; margin-bottom: 3pt }
bill[name='enrolled'] section:first-of-type { margin-top: 14pt }

intro, content { display: block;  margin-top: 14pt; margin-bottom: 14pt; text-indent: 28pt }
wrap { display: block;  margin-top: 14pt; margin-bottom: 14pt; text-indent: 0 }
section[class='continuation'] > content { text-indent: 0 }

bill[name='enrolled'] intro, bill[name='enrolled'] content, bill[name='enrolled'] wrap { margin-top: 3pt; margin-bottom: 3pt }

division { text-align: center }
division > * { text-align: justify }

division > num, division > heading { text-transform: uppercase; font-size: 16pt }
bill division > num, bill division > heading { font-weight: bold }
division > num + heading:before { content: '\2014' }

title { text-align: center }
title > * { text-align: justify }
title > num, title > heading { text-transform: uppercase; font-size: 16pt }
bill title > num, bill title > heading { font-weight: bold }
title > num + heading:before { content: '\2014' }

subtitle { text-align: center }
subtitle > * { text-align: justify }
subtitle > num, subtitle > heading { font-size: 16pt; font-weight: bold }
subtitle > num { display: inline }
subtitle > num + heading:before { content: '\2014' }

part { text-align: center }
part > * { text-align: justify }
part > num, part > heading { text-transform: uppercase; font-size: 14pt; font-weight: bold }
part > num { display: inline }
part > num + heading:before { content: '\2014' }

chapter { text-align: center }
chapter > * { text-align: justify }
chapter > num, chapter > heading { text-transform: uppercase; font-size: 14pt; font-weight: bold }
chapter > num { display: inline }
chapter > num + heading:before { content: '\2014' }

section { text-align: justify }
bill:not([name='concurrent resolution']) section > num { text-transform: uppercase; font-size: 12pt; font-weight: bold }
bill[name='concurrent resolution'] section > num { font-variant: small-caps }
amendment section > num { font-variant: small-caps }
section > num:after { content: " " }
bill section > heading { text-transform: uppercase; font-size: 12pt; font-weight: bold }
section > heading:after { content: "." }
section > num + content, section > num + content > p:first:child { display: inline }
section > num + content, section > num + content > p:first-child { display: inline }
section > content > p { margin-top: 14pt; margin-bottom: 14pt }

subsection, paragraph, subparagraph, clause, subclause { text-align: justify }

subsection { text-indent: 28pt }
subsection > heading { font-variant: small-caps }
subsection > intro, subsection > intro > p { display: inline }
subsection > heading:after { content: '.\2014' }

section > num + subsection:first-of-type { display: inline }

subsection > num + paragraph:first-of-type { display: inline; margin-left: 0 }
subsection > num:after, paragraph > num:after, subparagraph > num:after, clause > num:after, subclause > num:after { content: " " }

subsection, paragraph, subparagraph, clause, subclause { text-indent: 28pt }
intro~paragraph { margin-left: 28pt }
subsection > paragraph, subparagraph, clause, subclause { margin-left: 28pt }

subsection > intro, subsection > content { display: inline; text-indent: 0 }
paragraph > intro, paragraph > content { display: inline; text-indent: 0 }
subparagraph > intro, subparagraph > content { display: inline; text-indent: 0 }
clause > intro, clause > content { display: inline; text-indent: 0 }
subclause > intro, subclause > content { display: inline; text-indent: 0 }

subsection > intro > p:first-child, subsection > content > p:first-child { display: inline }
paragraph > intro > p:first-child, paragraph > content > p:first-child { display: inline }
subparagraph > intro > p:first-child, subparagraph > content > p:first-child { display: inline }
clause > intro > p:first-child, clause > content > p:first-child { display: inline }
subclause > intro > p:first-child, subclause > content > p:first-child { display: inline }

clause > content > p { text-indent: 28pt }

paragraph > heading { font-variant: small-caps }
paragraph > heading:after { content: '.\2014' }

block, container { display: block }

quotedStructure { display: inline; margin-top: 14pt; margin-bottom: 14pt }
bill[name='enrolled'] quotedStructure { margin-top: 3pt; margin-bottom: 3pt }

quotedStructure:not([startQuote='']):before, quotedText:not([startQuote='']):before, extractText:not([startQuote='']):before { content: attr(startQuote) }
quotedStructure:not([endQuote='']):after, quotedText:not([endQuote='']):after, extractText:not([endQuote='']):after { content: attr(endQuote) }
quotedStructure:not([startQuote='']) > *:first-child { display: inline; margin-left: 0 }
quotedStructure:not([startQuote='']) > *:first-child > *:first-child { display: inline; margin-left: 0 }
quotedStructure:not([startQuote='']) > *:first-child > *:first-child > *:first-child { display: inline; margin-left: 0 }
quotedStructure:not([startQuote='']) > *:first-child > *:first-child > *:first-child > *:first-child { display: inline; margin-left: 0 }
quotedStructure:not([endQuote='']) > *:last-child > *:last-child > *:last-child > *:last-child { display: inline; margin-left: 0 }
quotedStructure:not([endQuote='']) > *:last-child > *:last-child > *:last-child { display: inline; margin-left: 0 }
quotedStructure:not([endQuote='']) > *:last-child > *:last-child { display: inline; margin-left: 0 }
quotedStructure:not([endQuote='']) > *:last-child { display: inline; margin-left: 0 }

hcontainer[name='appropriations'] > content { text-align: justify }
hcontainer[name='appropriations'] > section { text-indent: 28pt }
hcontainer[name='appropriations'] > section > content { display: inline; text-indent: 0 }

hcontainer > heading { display: block; text-align: center }
hcontainer[name='appropriations'][class='major'] > heading { text-transform: uppercase; font-size: 16pt }
hcontainer[name='appropriations'][class='intermediate'] > heading { text-transform: capitalize; font-size: 16pt; font-variant: small-caps }
hcontainer[name='appropriations'][class='small'] > heading { text-transform: uppercase; font-size: 12pt }

amendment quotedStructure section > num, amendment quotedStructure section > heading  { text-transform: uppercase; font-size: 12pt; font-weight: bold }
amendment hcontainer[name='appropriations'][class='major'] > section > num {
	text-transform: none; font-size: inherit; font-weight: normal; font-variant: small-caps
}
amendment hcontainer[name='appropriations'][class='major'] > section > heading { font-weight: normal }

amendmentContent > p:first-child { text-indent: 28pt }

toc { font-size: 11pt }
toc, tocItem { display: block }
toc { margin-top: 14pt; margin-bottom: 3pt }
tocItem { text-indent: 0 }
tocItem[level='1'] { text-align: center; text-transform: uppercase }
tocItem[level='2'] { text-align: center; text-transform: uppercase }
tocItem[level='3'] { text-align: center }
tocItem[level='4']:not([class='multi-column']) { text-align: center; font-variant: small-caps }
tocItem[level='5'] { margin-left: 5em; text-indent: -5em }
tocItem[class='multi-column'] { font-weight: bold }
tocItem[class='multi-column'] span:last-child { float: right }

table { margin: 14pt auto; font-size: 10pt }
table > caption { display: table-caption; padding: 6pt; text-align: center }
th { padding: 6pt; font-weight: bold }
td { padding: 6pt }
th > p, td > p { text-indent: 0 }

table[class='all'] { border-bottom: thin solid black }
table[class='all'] th { border-top: thin solid black; border-left: thin solid black; border-bottom: thin solid black }
table[class='all'] th:last-child { border-right: thin solid black }
table[class='all'] td { border-left: thin solid black }
table[class='all'] td:last-child { border-right: thin solid black }

table[class='topbot'] > caption { border-top: thin solid black; border-bottom: thin solid black }
table[class='topbot'] th { border-bottom: thin solid black }
table[class='topbot'] { border-bottom: thin solid black }
table[class='topbot'] th, table[class='topbot'] td { padding: 3pt }
table[class='topbot'] th { vertical-align: middle }

conclusions > p { margin-top: 14pt; text-indent: 28pt }
conclusions > p[class='signature'] { text-align: right }

conclusions role { font-style: italic }
